@import "tailwindcss";

@theme {
  --color-primaryBg: #feedbc;
  --color-primaryBlack: #262626;
  --color-primaryYellow: #f9b800;

  --font-segoe: "Segoe UI";
}

body {
  background-color: var(--color-primaryBg);
  font-family: var(--font-segoe);
  scrollbar-gutter: stable both-edges;
}

/* custom css */
.common_button.dark:hover {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}
.common_button.light:hover {
  box-shadow: 10px 10px 0px 0px rgba(249, 184, 0, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(249, 184, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(249, 184, 0, 1);
}
.common_button.yellow:hover {
  box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
}

.common_button:hover svg {
  transform: rotate(90deg);
}

.shaped_bg {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.item_card .hover_item {
  clip-path: circle(5% at 50% 50%);
}
.item_card:hover .hover_item {
  clip-path: circle(50% at 50% 50%);
}
.card_carousel:hover svg.not_active path {
  fill: white;
}

.language_switch button {
  border: none;
}

.preloader {
  transition: 1s ease-in-out;
}

.preloader.shape {
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0% 100%);
}
.preloader.shape-reverse {
  clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
}

.preloader.hide {
  transform: translateX(100%);
}
.preloader.hide-reverse {
  transform: translateX(-100%);
}

/* custom css */
